<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPasswordCommandSuccess</title>
</head>
<body>
    <div>
        <h3>Réinitialisation de mot de passe réussie</h3>
        <hr />
        @Html.ActionLink("Connexion", "Login")
    </div>
</body>
</html>
